$gray-blue: #76ABEF;
$light-blue: #3D94FE;
$dark-blue: #3B8CDD;
$dark-yellow: #EBC700;
$red: #fa4d5c;
$white: #ffffff;
$pink: #FFAEBF;

$hover: #ECECEC;

$titleBarZIndex: 666;
$headerFixedZIndex: 222;
$footerFixedZIndex: 111;
$menuZIndex: 888;
$popupZIndex: 888;
$diglogZIndex: 888;
$maskZIndex: 777;
$loadingZIndex: 555;


$unimpColor: #6B6B6B;
// $unimpColor: #ABABAB;

// 标题栏颜色
$titleBarColor: #F8F8F8;
$pageBg: #F0F0F0;

$aHover: #2986C6;
$btnHover: #FAFAFA;
$tabHover: #F0F0F0;

$titleDeepBg: #e3e9ed;
$titleDeepColor: #164372;
$inputBgColor: #F0F0F0;
$borderColor: #EDEDED;
$borderDeepColor: #BFBFBF;
$boxShadowColor: #DADADA;
$iconColor: #DADADA;
$iconDeepColor: #5f7d95;
$arrowColor: #DADADA;
$placeholderColor: #E0E0E0;
$tipColor: #989898;
$inputColor: #3a3a3a;
$navColor: #3a3a3a;
$navDeepColor: #5f7d95;
$titleColor: #313131;
$refreshColor: #6B6B6B;
$inputUnimpColor: $unimpColor;

$priceColor: #DF6681;

$slideNomarlColor: #c7c7cc;
$slideDeleteColor: #fe3b30;

$popupHeaderColor: #F4F5F7;


$percent-100: 100%;

// 积分的颜色
$pointColor: #CD7C46;

$vipColor: #bb7c38;
$vipBgColor: #f4e3c5;

$warnColor: #C75D52;

